body {
    --color-accent: #7f6df2;
    --text-body: #3f3f45;
    --text-headings: #27272a;
    --text-alt: #717179;
    --background-primary: #ffffff;
    --background-code: #fafafa;
    --background-kbd: #e4e4e7;
    --background-mark: #f8fc46;
    --border-primary: #d4d4d8;
}

@media (prefers-color-scheme: dark) {
    body {
        --text-body: #d4d4d8;
        --text-headings: #ffffff;
        --text-alt: #a1a1a9;
        --background-primary: #27272a;
        --background-code: #3f3f45;
        --background-kbd: #3f3f45;
        --border-primary: #717179;
    }
}

body {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, ui-serif, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    max-width: 800px;
    margin: auto;
    padding: 1em;
    line-height: 1.5;
    word-wrap: break-word;
    color: var(--text-body);
    background-color: var(--background-primary);
}

body a {
   color: var(--color-accent);
}

body a:hover {
    color: var(--background-primary);
    background-color: var(--color-accent);
    text-decoration: none;
}

/* header and footer */
.article-meta {
    line-height: 1;
}

h1, h2, h3, h4, h5, h6 {
    color: var(--text-headings);
    text-decoration: none;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: var(--text-headings);
    text-decoration: none;
}

h1 a:hover, h2 a:hover, h3 a:hover, h4 a:hover, h5 a:hover, h6 a:hover {
    color: var(--text-headings);
    background-color: var(--background-primary);
    text-decoration: none;
    border-bottom: 2px solid var(--color-accent);
}

footer {
    text-align: center;
    font-size: small;
    font-weight: normal;
}

footer a {
    color: var(--text-alt);
    text-decoration: none;
}

footer a:hover {
    color: var(--color-accent);
    background-color: var(--background-primary);
    text-decoration: underline;
}

hr {
    border-style: dotted;
    color: var(--border-primary);
}

hr.top {
    border-style: none;
}

hr.bottom {
    border-style: dotted;
    color: var(--border-primary);
}

mark {
    background-color: var(--background-mark);
    border-radius: 3px;
    padding: 2px 4px;
    margin: 2px;
}

ul.homepage {
    padding-left: 0;
    list-style-position: inside;
    list-style-type: none;
    color: var(--text-alt);
    text-decoration: none;
    line-height: 2;
}

ul.homepage a {
    color: var(--text-headings);
    font-weight: bold;
    text-decoration: none;
}

ul.homepage a:hover {
    color: var(--text-headings);
    background-color: var(--background-primary);
    text-decoration: none;
    font-weight: bold;
    border-bottom: 2px solid var(--color-accent);
}

/* code */
pre > code {
    padding: 12px;
    display: block;
    overflow-x: auto;
    word-wrap: normal;
    white-space: pre;
    color: var(--text-body);
    background-color: var(--background-code);
    font-size: 90%;
    font-weight: normal;
}

code {
    border-radius: 5px;
    padding: 2px 4px;
    margin: 2px;
    font-family: ui-monospace, monospace;
    font-size: 90%;
    font-weight: bold;
    color: var(--color-accent);
}

kbd > kbd {
    border-radius: 5px;
    padding: 2px 4px;
    margin: 2px;
    font-family: ui-monospace, monospace;
    font-size: 90%;
    font-weight: bold;
    background-color: var(--background-kbd);
}

kbd > kbd {
    display: inline-block;
}

/* misc */
img,
iframe,
video {
    max-width: 100%;
}

main {
    hyphens: auto;
}

blockquote {
    margin: 0;
    padding: 0 1em;
    border-left: 0.25em solid var(--color-accent);
    background-color: transparent;
}

table {
    margin: auto;
    border-collapse: collapse;
}

thead,
th,
td,
tr {
    border: 1px solid var(--border-primary);
}

th,
td {
    padding: 5px;
}

thead,
tfoot,
tr:nth-child(even) {
    background: var(--background-code);
}
