{{ partial "header.html" . }}
<hr class="top" />
{{ if not .IsHome }}
<h2>{{ .Title | markdownify }}</h2>
{{ end }}
{{ .Content }}
<ul class="homepage">
  {{ $pages := .Pages }}
  {{ if .IsHome }}{{ $pages = .Site.RegularPages }}{{ end }}
  {{ range .Pages }}
  <li>
    <a href="{{ .RelPermalink }}">{{ .Title | markdownify }}</a>
     - {{ .Date | time.Format ":date_long" }}
  </li>
  {{ end }}
</ul>
</br>
{{ partial "footer.html" . }}