{{ partial "header.html" . }}
<hr class="top" />
<div class="article-meta">
  <h1>{{ .Title | markdownify }}</h1>
  {{ $date := .Date | time.Format ":date_long" }}
  {{ $lastmod := .Lastmod | time.Format ":date_long" }}
  {{ if and (ne $lastmod $date) (gt .Lastmod .Date) }}
  <h5><span class="light">{{ .Site.Params.Lastmod}} {{ $lastmod }}</span></h5>
  {{ else }}
  <h5><span class="light">{{ .Date | time.Format ":date_long" }}</span></h5>
  {{ end }}
</div>
</br>
<main>
  {{ .Content }}
</main>